.bookPage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgb(199, 211, 233);
}

.bookPage__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookPage__img {
    float: left;
    height: 400px;
    margin: 10px 10px 10px 0;
}

.bookPage__category {
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.bookPage__name {
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
}

.bookPage__autor {
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.bookPage__box {
    padding: 0 30px;
    box-sizing: border-box;
}

.bookPage__description {
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.bookPage__button {
    width: 100px;
    height: 52px;
    margin-top: 20px;
    border: none;
    background: #3456F3;
    border-radius: 5px;
    color: #fff;
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.bookPage__button:hover {
    cursor: pointer;
}

.bookPage__content {
    width: 90%;
    height: 100%;
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .bookPage__img {
        height: 200px;
    }

    .bookPage__content {
        padding-top: 20px;
    }

    .bookPage__category {
        font-size: 14px;
        line-height: 25px;
    }

    .bookPage__name {
        font-size: 24px;
        line-height: 34px;
    }

    .bookPage__autor {
        font-size: 17px;
        line-height: 23px;
    }

    .bookPage__box {
        height: 100%;
        padding: 0 10px;
    }

    .bookPage__description {
        font-size: 10px;
        line-height: 16px;
    }
}