.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
}

.main__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main__button {
    width: 100px;
    height: 52px;
    margin-top: 20px;
    border: none;
    background: #3456F3;
    border-radius: 5px;
    color: #fff;
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.main__button:hover {
    cursor: pointer;
}